.third-screen-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: url('https://images.freeimages.com/images/small-previews/5eb/more-photo-file-2-1169682.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.filter-buttons {
    display: flex;
    gap: 15px;
}

.filter-button {
    padding: 10px 15px;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: rgba(0, 86, 179, 0.8);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.third-screen-container {
    padding: 20px;
  }
  
  .video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .video-item {
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .video-item:hover {
    transform: scale(1.05);
  }
  
  .video-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .video-item h4 {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .video-item p {
    font-size: 14px;
    color: #666;
  }
  